openapi: 3.0.3
info:
  title: 'OnlyFans API'
  description: ''
  version: 1.0.0
servers:
  - url: 'https://app.onlyfansapi.com'
tags:
  - name: 'API Keys'
    description: ''
  - name: Account
    description: 'Endpoints for your linked accounts'
  - name: 'Analytics - Financial'
    description: 'APIs for retrieving financial analytics data'
  - name: 'Analytics - Summary'
    description: 'APIs for retrieving summary analytics data'
  - name: Banking
    description: 'Operations related to user banking details, payout methods, legal and tax information, and account country settings.'
  - name: 'Banned Words'
    description: 'Reference list of OnlyFans banned words used by the `blockBannedWords` screening parameter'
  - name: 'Blocked / Restricted Users'
    description: 'APIs for listing the users an account has blocked or restricted'
  - name: Chargebacks
    description: ''
  - name: 'Chat Messages'
    description: ''
  - name: Chats
    description: ''
  - name: 'Client Sessions'
    description: ''
  - name: 'Connect OnlyFans Account'
    description: ''
  - name: 'Data Exports'
    description: 'APIs for managing data exports'
  - name: Endpoints
    description: ''
  - name: 'Engagement / Messages'
    description: ''
  - name: Fans
    description: 'APIs for managing OnlyFans fans (subscribers)'
  - name: 'Fans - AI Summary'
    description: 'APIs for generating and retrieving AI-powered fan profile summaries'
  - name: Following
    description: "APIs for managing OnlyFans followings (people you're subscribed to)"
  - name: 'Free Trial Links'
    description: 'APIs for managing Free Trial Links'
  - name: Giphy
    description: ''
  - name: 'Link Tags'
    description: 'APIs for managing tags on free trial links, tracking links, and Smart Links'
  - name: 'Mass Messaging'
    description: ''
  - name: Media
    description: ''
  - name: 'Media Vault'
    description: ''
  - name: 'Media Vault Lists'
    description: ''
  - name: Notifications
    description: 'Endpoints for managingr account notifications'
  - name: Payouts
    description: ''
  - name: 'Post Comments'
    description: ''
  - name: 'Post Labels'
    description: 'APIs for managing your post labels'
  - name: Posts
    description: 'APIs for managing OnlyFans posts'
  - name: Promotions
    description: ''
  - name: 'Public Profiles'
    description: ''
  - name: Queue
    description: ''
  - name: 'Release Forms'
    description: 'APIs for managing OnlyFans release forms'
  - name: 'Saved For Later (Messages)'
    description: ''
  - name: 'Saved For Later (Posts)'
    description: ''
  - name: Settings
    description: ''
  - name: 'Shared Free Trial Links'
    description: 'APIs for Free Trial Links that other OF creators have shared with this account. Revenue, cost, and spender data are not available for shared links.'
  - name: 'Shared Tracking Links'
    description: 'APIs for Tracking Links (campaigns) that other OF creators have shared with this account. Revenue, cost, and spender data are not available for shared campaigns.'
  - name: 'Smart Link Postbacks'
    description: 'APIs for managing Smart Link postback destinations'
  - name: 'Smart Links'
    description: 'APIs for managing Smart Links (Free Trial Links and Tracking Links with pooled inventory)'
  - name: Statistics
    description: ''
  - name: 'Stored Free Trial Links'
    description: 'Instant APIs for retrieving stored free trial links from the OnlyFansAPI Cache (free, no credits used)'
  - name: 'Stored Shared Free Trial Links'
    description: 'Instant APIs for retrieving stored shared Free Trial Links from the OnlyFansAPI Cache (free, no credits used)'
  - name: 'Stored Shared Tracking Links'
    description: 'Instant APIs for retrieving stored shared Tracking Links (campaigns) from the OnlyFansAPI Cache (free, no credits used)'
  - name: 'Stored Tracking Links'
    description: 'Instant APIs for retrieving stored tracking links from the OnlyFansAPI Cache (free, no credits used)'
  - name: Stories
    description: 'APIs for managing OnlyFans stories'
  - name: 'Story Highlights'
    description: 'APIs for managing OnlyFans story highlights'
  - name: 'Subscription Bundles'
    description: ''
  - name: 'Tracking Links'
    description: 'APIs for managing tracking links'
  - name: Transactions
    description: 'APIs for managing OnlyFans transactions'
  - name: Usage
    description: 'Credit usage reporting for your team'
  - name: 'User List Collections'
    description: ''
  - name: Users
    description: 'APIs for fetching OnlyFans users'
  - name: Webhooks
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Get your API Key from OnlyFansAPI Console - https://app.onlyfansapi.com/api-keys'
security:
  -
    default: []
paths:
  /api/whoami:
    get:
      summary: Whoami
      operationId: whoami
      description: 'Get details about the currently used API Key & the relevant Team'
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  api_key:
                    name: Onboarding
                    last_used_at: '2025-05-23T15:51:52.000000Z'
                    created_at: '2025-04-20T16:27:45.000000Z'
                  team:
                    name: 'Personal Team'
                    slug: personal-team-123
                properties:
                  api_key:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Onboarding
                      last_used_at:
                        type: string
                        example: '2025-05-23T15:51:52.000000Z'
                      created_at:
                        type: string
                        example: '2025-04-20T16:27:45.000000Z'
                  team:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 'Personal Team'
                      slug:
                        type: string
                        example: personal-team-123
      tags:
        - 'API Keys'
  /api/accounts:
    get:
      summary: 'List Accounts'
      operationId: listAccounts
      description: 'List all connected OnlyFans accounts.'
      parameters:
        -
          in: query
          name: onlyfans_id
          description: 'Optionally, filter by the OnlyFans ID'
          example: 1234567890
          required: false
          schema:
            type: string
            description: 'Optionally, filter by the OnlyFans ID'
            example: 1234567890
            nullable: true
        -
          in: query
          name: onlyfans_username
          description: 'Optionally, filter by the OnlyFans username'
          example: username
          required: false
          schema:
            type: string
            description: 'Optionally, filter by the OnlyFans username'
            example: username
            nullable: true
        -
          in: query
          name: onlyfans_email
          description: 'Optionally, filter by the OnlyFans email'
          example: creator@example.com
          required: false
          schema:
            type: string
            description: 'Optionally, filter by the OnlyFans email'
            example: creator@example.com
            nullable: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: acct_123
                    onlyfans_id:
                      type: integer
                      example: 123
                    onlyfans_username:
                      type: string
                      example: user
                    onlyfans_email:
                      type: string
                      example: user@example.com
                    is_authenticated:
                      type: boolean
                      example: true
                    authentication_progress:
                      type: string
                      example: signed_in
                    display_name:
                      type: string
                      example: oft
                    onlyfans_user_data:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 123
                        ip:
                          type: string
                          example: 127.0.0.1
                        csrf:
                          type: string
                          example: csrf
                        name:
                          type: string
                          example: Name
                        view:
                          type: string
                          example: f
                        about:
                          type: string
                          example: '<p>about</p>'
                        email:
                          type: string
                          example: user@example.com
                        wsUrl:
                          type: string
                          example: 'wss://ws2.onlyfans.com/ws3/03'
                        avatar:
                          type: string
                          example: 'https://example.com'
                        header:
                          type: string
                          example: 'https://example.com'
                        isAuth:
                          type: boolean
                          example: true
                        ivFlow:
                          type: string
                          example: default
                        upload:
                          type: object
                          properties:
                            geoUploadArgs:
                              type: object
                              properties:
                                preset:
                                  type: string
                                  example: of_beta
                                isDelay:
                                  type: boolean
                                  example: true
                                additional:
                                  type: object
                                  properties:
                                    user:
                                      type: string
                                      example: '123'
                                needThumbs:
                                  type: boolean
                                  example: true
                                preset_png:
                                  type: string
                                  example: of_png
                                protected_preset:
                                  type: string
                                  example: of_drm
                        canChat:
                          type: boolean
                          example: true
                        hasTags:
                          type: boolean
                          example: false
                        website:
                          type: string
                          example: null
                          nullable: true
                        advBlock:
                          type: array
                          example:
                            - subscribe_offers
                          items:
                            type: string
                        ivStatus:
                          type: string
                          example: approved
                        joinDate:
                          type: string
                          example: '2025-04-05T00:00:00+00:00'
                        lastSeen:
                          type: string
                          example: '2025-05-16T10:09:48+00:00'
                        location:
                          type: string
                          example: null
                          nullable: true
                        paidFeed:
                          type: boolean
                          example: false
                        username:
                          type: string
                          example: user
                        wishlist:
                          type: string
                          example: null
                          nullable: true
                        hasLabels:
                          type: boolean
                          example: false
                        ivCountry:
                          type: string
                          example: US
                        canAddCard:
                          type: boolean
                          example: true
                        canPinPost:
                          type: boolean
                          example: true
                        creditsMax:
                          type: integer
                          example: 200
                        creditsMin:
                          type: integer
                          example: 10
                        headerSize:
                          type: object
                          properties:
                            width:
                              type: integer
                              example: 2126
                            height:
                              type: integer
                              example: 1535
                        isVerified:
                          type: boolean
                          example: false
                        postsCount:
                          type: integer
                          example: 0
                        audiosCount:
                          type: integer
                          example: 0
                        hasNewHints:
                          type: boolean
                          example: true
                        hasScenario:
                          type: boolean
                          example: true
                        isPerformer:
                          type: boolean
                          example: false
                        mediasCount:
                          type: integer
                          example: 0
                        photosCount:
                          type: integer
                          example: 0
                        videosCount:
                          type: integer
                          example: 0
                        wsAuthToken:
                          type: string
                          example: wsAuthToken
                        avatarThumbs:
                          type: object
                          properties:
                            c50:
                              type: string
                              example: 'https://example.com'
                            c144:
                              type: string
                              example: 'https://example.com'
                        canLookStory:
                          type: boolean
                          example: true
                        hasNewAlerts:
                          type: boolean
                          example: false
                        headerThumbs:
                          type: object
                          properties:
                            w480:
                              type: string
                              example: 'https://example.com'
                            w760:
                              type: string
                              example: 'https://example.com'
                        isOtpEnabled:
                          type: boolean
                          example: true
                        ivFailReason:
                          type: string
                          example: null
                          nullable: true
                        newTagsCount:
                          type: integer
                          example: 0
                        creditBalance:
                          type: integer
                          example: 0
                        faceIdRegular:
                          type: array
                          example: []
                        isAgeVerified:
                          type: boolean
                          example: false
                        isAllowTweets:
                          type: boolean
                          example: false
                        isMakePayment:
                          type: boolean
                          example: false
                        needIVApprove:
                          type: boolean
                          example: false
                        watermarkText:
                          type: string
                          example: OnlyFans.com/user
                        canCreateLists:
                          type: boolean
                          example: true
                        canPayInternal:
                          type: boolean
                          example: true
                        favoritedCount:
                          type: integer
                          example: 0
                        favoritesCount:
                          type: integer
                          example: 0
                        hasPinnedPosts:
                          type: boolean
                          example: false
                        isEmailChecked:
                          type: boolean
                          example: true
                        isWantComments:
                          type: boolean
                          example: true
                        canCommentStory:
                          type: boolean
                          example: true
                        countPinnedChat:
                          type: integer
                          example: 0
                        isEmailRequired:
                          type: boolean
                          example: false
                        isPaywallPassed:
                          type: boolean
                          example: true
                        isRealPerformer:
                          type: boolean
                          example: false
                        isVisibleOnline:
                          type: boolean
                          example: true
                        showPostsInFeed:
                          type: boolean
                          example: true
                        subscribesCount:
                          type: integer
                          example: 123
                        twitterUsername:
                          type: string
                          example: user
                        canSendChatToAll:
                          type: boolean
                          example: false
                        isCreditsEnabled:
                          type: boolean
                          example: true
                        pinnedPostsCount:
                          type: integer
                          example: 0
                        subscribersCount:
                          type: integer
                          example: 123
                        chatMessagesCount:
                          type: integer
                          example: 123
                        countPriorityChat:
                          type: integer
                          example: 123
                        hasNotViewedStory:
                          type: boolean
                          example: false
                        hasPurchasedPosts:
                          type: boolean
                          example: false
                        hasWatermarkPhoto:
                          type: boolean
                          example: true
                        hasWatermarkVideo:
                          type: boolean
                          example: true
                        isDeleteInitiated:
                          type: boolean
                          example: false
                        isReferrerAllowed:
                          type: boolean
                          example: false
                        watermarkPosition:
                          type: string
                          example: bottom_right
                        archivedPostsCount:
                          type: integer
                          example: 0
                        isSpotifyConnected:
                          type: boolean
                          example: false
                        isTwitterConnected:
                          type: boolean
                          example: false
                        notificationsCount:
                          type: integer
                          example: 123
                        walletFirstRebills:
                          type: boolean
                          example: false
                        canConnectOfAccount:
                          type: boolean
                          example: true
                        connectedOfAccounts:
                          type: array
                          example: []
                        hasInternalPayments:
                          type: boolean
                          example: false
                        hasNewTicketReplies:
                          type: object
                          properties:
                            open:
                              type: boolean
                              example: false
                            closed:
                              type: boolean
                              example: false
                            solved:
                              type: boolean
                              example: false
                        isRealCardConnected:
                          type: boolean
                          example: true
                        maxPinnedPostsCount:
                          type: integer
                          example: 5
                        isWalletAutorecharge:
                          type: boolean
                          example: false
                        canReceiveChatMessage:
                          type: boolean
                          example: false
                        walletAutorechargeMin:
                          type: integer
                          example: 0
                        hasSystemNotifications:
                          type: boolean
                          example: false
                        isLegalApprovedAllowed:
                          type: boolean
                          example: true
                        isPaymentCardConnected:
                          type: boolean
                          example: true
                        ageVerificationRequired:
                          type: boolean
                          example: false
                        payoutLegalApproveState:
                          type: string
                          example: rejected
                        walletAutorechargeAmount:
                          type: integer
                          example: 0
                        canAlternativeWalletTopUp:
                          type: boolean
                          example: false
                        enabledImageEditorForChat:
                          type: boolean
                          example: true
                        privateArchivedPostsCount:
                          type: integer
                          example: 0
                        isMarkdownDisabledForAbout:
                          type: boolean
                          example: true
                        avatarHeaderConverterUpload:
                          type: boolean
                          example: true
                        hasNewChangedPriceSubscriptions:
                          type: boolean
                          example: false
                example:
                  -
                    id: acct_123
                    onlyfans_id: 123
                    onlyfans_username: user
                    onlyfans_email: user@example.com
                    is_authenticated: true
                    authentication_progress: signed_in
                    display_name: oft
                    onlyfans_user_data:
                      id: 123
                      ip: 127.0.0.1
                      csrf: csrf
                      name: Name
                      view: f
                      about: '<p>about</p>'
                      email: user@example.com
                      wsUrl: 'wss://ws2.onlyfans.com/ws3/03'
                      avatar: 'https://example.com'
                      header: 'https://example.com'
                      isAuth: true
                      ivFlow: default
                      upload:
                        geoUploadArgs:
                          preset: of_beta
                          isDelay: true
                          additional:
                            user: '123'
                          needThumbs: true
                          preset_png: of_png
                          protected_preset: of_drm
                      canChat: true
                      hasTags: false
                      website: null
                      advBlock:
                        - subscribe_offers
                      ivStatus: approved
                      joinDate: '2025-04-05T00:00:00+00:00'
                      lastSeen: '2025-05-16T10:09:48+00:00'
                      location: null
                      paidFeed: false
                      username: user
                      wishlist: null
                      hasLabels: false
                      ivCountry: US
                      canAddCard: true
                      canPinPost: true
                      creditsMax: 200
                      creditsMin: 10
                      headerSize:
                        width: 2126
                        height: 1535
                      isVerified: false
                      postsCount: 0
                      audiosCount: 0
                      hasNewHints: true
                      hasScenario: true
                      isPerformer: false
                      mediasCount: 0
                      photosCount: 0
                      videosCount: 0
                      wsAuthToken: wsAuthToken
                      avatarThumbs:
                        c50: 'https://example.com'
                        c144: 'https://example.com'
                      canLookStory: true
                      hasNewAlerts: false
                      headerThumbs:
                        w480: 'https://example.com'
                        w760: 'https://example.com'
                      isOtpEnabled: true
                      ivFailReason: null
                      newTagsCount: 0
                      creditBalance: 0
                      faceIdRegular: []
                      isAgeVerified: false
                      isAllowTweets: false
                      isMakePayment: false
                      needIVApprove: false
                      watermarkText: OnlyFans.com/user
                      canCreateLists: true
                      canPayInternal: true
                      favoritedCount: 0
                      favoritesCount: 0
                      hasPinnedPosts: false
                      isEmailChecked: true
                      isWantComments: true
                      canCommentStory: true
                      countPinnedChat: 0
                      isEmailRequired: false
                      isPaywallPassed: true
                      isRealPerformer: false
                      isVisibleOnline: true
                      showPostsInFeed: true
                      subscribesCount: 123
                      twitterUsername: user
                      canSendChatToAll: false
                      isCreditsEnabled: true
                      pinnedPostsCount: 0
                      subscribersCount: 123
                      chatMessagesCount: 123
                      countPriorityChat: 123
                      hasNotViewedStory: false
                      hasPurchasedPosts: false
                      hasWatermarkPhoto: true
                      hasWatermarkVideo: true
                      isDeleteInitiated: false
                      isReferrerAllowed: false
                      watermarkPosition: bottom_right
                      archivedPostsCount: 0
                      isSpotifyConnected: false
                      isTwitterConnected: false
                      notificationsCount: 123
                      walletFirstRebills: false
                      canConnectOfAccount: true
                      connectedOfAccounts: []
                      hasInternalPayments: false
                      hasNewTicketReplies:
                        open: false
                        closed: false
                        solved: false
                      isRealCardConnected: true
                      maxPinnedPostsCount: 5
                      isWalletAutorecharge: false
                      canReceiveChatMessage: false
                      walletAutorechargeMin: 0
                      hasSystemNotifications: false
                      isLegalApprovedAllowed: true
                      isPaymentCardConnected: true
                      ageVerificationRequired: false
                      payoutLegalApproveState: rejected
                      walletAutorechargeAmount: 0
                      canAlternativeWalletTopUp: false
                      enabledImageEditorForChat: true
                      privateArchivedPostsCount: 0
                      isMarkdownDisabledForAbout: true
                      avatarHeaderConverterUpload: true
                      hasNewChangedPriceSubscriptions: false
      tags:
        - Account
  '/api/accounts/{id}':
    delete:
      summary: 'Disconnect Account'
      operationId: disconnectAccount
      description: 'Disconnect an OnlyFans account.'
      parameters: []
      responses:
        204:
          description: Success
          content:
            application/json:
              schema:
                type: object
                nullable: true
      tags:
        - Account
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the account.'
        example: minima
        required: true
        schema:
          type: string
  '/api/{account}/me':
    get:
      summary: 'Get Current Account'
      operationId: getCurrentAccount
      description: 'Get OnlyFans Profile details for the currently used Account'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    view: f
                    isAuth: true
                    ip: 127.0.0.1
                    csrf: csrf_token
                    upload:
                      geoUploadArgs:
                        preset: of_beta
                        protected_preset: of_drm
                        preset_png: of_png
                        isDelay: true
                        needThumbs: true
                        additional:
                          user: '123'
                    avatar: 'https://public.onlyfans.com/files/w/w6/w6g/.../123/avatar.jpg'
                    avatarThumbs:
                      c50: 'https://thumbs.onlyfans.com/public/files/thumbs/c50/w/w6/w6g/.../123/avatar.jpg'
                      c144: 'https://thumbs.onlyfans.com/public/files/thumbs/c144/w/w6/w6g/.../123/avatar.jpg'
                    header: 'https://public.onlyfans.com/files/k/kk/kk6/.../123/header_image.jpg'
                    headerSize:
                      width: 760
                      height: 570
                    headerThumbs:
                      w480: 'https://thumbs.onlyfans.com/public/files/thumbs/w480/k/kk/kk6/.../123/header_image.jpg'
                      w760: 'https://thumbs.onlyfans.com/public/files/thumbs/w760/k/kk/kk6/.../123/header_image.jpg'
                    id: 123
                    name: name
                    username: username
                    canLookStory: true
                    canCommentStory: true
                    hasNotViewedStory: false
                    isVerified: true
                    canPayInternal: true
                    hasScheduledStream: false
                    hasStream: false
                    hasStories: false
                    tipsEnabled: true
                    tipsTextEnabled: true
                    tipsMin: 5
                    tipsMinInternal: 1
                    tipsMax: 200
                    canEarn: true
                    canAddSubscriber: false
                    subscribePrice: 0
                    hasStripe: false
                    isStripeExist: false
                    subscriptionBundles: []
                    canSendChatToAll: true
                    creditsMin: 10
                    creditsMax: 200
                    isPaywallPassed: true
                    canCreateLists: true
                    joinDate: '2025-01-01T00:00:00+00:00'
                    isReferrerAllowed: true
                    about: ''
                    isMarkdownDisabledForAbout: true
                    website: 'https://onlyfans.com'
                    wishlist: null
                    location: null
                    postsCount: 2
                    archivedPostsCount: 0
                    privateArchivedPostsCount: 0
                    photosCount: 0
                    videosCount: 0
                    audiosCount: 0
                    mediasCount: 0
                    lastSeen: '2025-01-01T00:00:00+00:00'
                    favoritesCount: 0
                    favoritedCount: 0
                    showPostsInFeed: true
                    canReceiveChatMessage: false
                    isPerformer: true
                    isRealPerformer: false
                    isSpotifyConnected: false
                    subscribersCount: 2
                    hasPinnedPosts: true
                    hasLabels: true
                    canChat: true
                    avatarHeaderConverterUpload: true
                    newTagsCount: 0
                    hasTags: false
                    isPrivateRestriction: false
                    showSubscribersCount: false
                    showMediaCount: true
                    subscribedByData: null
                    subscribedOnData: null
                    canCreatePromotion: false
                    canCreateTrial: false
                    isAdultContent: false
                    canTrialSend: false
                    hasLinks: false
                    hasFriends: false
                    firstPublishedPostDate: '2025-01-01T00:00:00+00:00'
                    isSpringConnected: false
                    hasNewTicketReplies:
                      open: false
                      solved: false
                      closed: false
                      appeal_form: false
                    hasInternalPayments: false
                    isCreditsEnabled: true
                    creditBalance: 0
                    isMakePayment: false
                    isAgeVerified: false
                    ageVerificationRequired: false
                    isOtpEnabled: true
                    email: user@example.com
                    isEmailChecked: true
                    isLegalApprovedAllowed: true
                    isTwitterConnected: false
                    twitterUsername: TwitterUsername
                    isAllowTweets: false
                    isPaymentCardConnected: true
                    isVisibleOnline: true
                    subscribesCount: 61
                    canPinPost: true
                    hasNewAlerts: false
                    hasNewHints: true
                    hasNewChangedPriceSubscriptions: true
                    notificationsCount: 4
                    hasSystemNotifications: false
                    chatMessagesCount: 57
                    countPinnedChat: 0
                    isWantComments: true
                    watermarkText: OnlyFans.com/username
                    hasWatermarkPhoto: true
                    hasWatermarkVideo: true
                    watermarkPosition: bottom_right
                    advBlock:
                      - banners
                    hasPurchasedPosts: false
                    isEmailRequired: false
                    payoutLegalApproveState: approved
                    enabledImageEditorForChat: true
                    paidFeed: false
                    isRealCardConnected: true
                    countPriorityChat: 35
                    hasScenario: false
                    wsUrl: 'wss://ws2.onlyfans.com/ws3/03'
                    wsAuthToken: ws_auth_token
                    canAddCard: true
                    unreadTips: 0
                    isWalletAutorecharge: false
                    walletAutorechargeAmount: 0
                    walletAutorechargeMin: 0
                    walletFirstRebills: false
                    canAlternativeWalletTopUp: false
                    needIVApprove: false
                    ivStatus: approved
                    ivFailReason: null
                    ivCountry: US
                    ivFlow: default
                    faceIdRegular: []
                    isVerifiedReason: false
                    canReceiveManualPayout: true
                    canReceiveStripePayout: false
                    isNeedConfirmPayout: false
                    canStreaming: false
                    isScheduledStreamsAllowed: false
                    canMakeExpirePosts: true
                    trialMaxDays: 7
                    trialMaxExpiresDays: 30
                    messageMinPrice: 3
                    messageMaxPrice: 100
                    postMinPrice: 3
                    postMaxPrice: 100
                    subscribeMinPrice: 4.99
                    subscribeMaxPrice: 50
                    canAddStory: true
                    canCreateFundRaising: true
                    minFundRaisingTarget: 10
                    maxFundRaisingTarget: 10000
                    ivHideForPerformers: false
                    canChangeContentPrice: true
                    payoutType: bank_ebics_sepa
                    isVatRequired: false
                    isCountryVatRefundable: false
                    isCountryVatNumberCollect: false
                    vatNumberName: VAT
                    isCountryWithVat: false
                    connectedOfAccounts: []
                    canConnectOfAccount: true
                    pinnedPostsCount: 1
                    maxPinnedPostsCount: 5
                    isDeleteInitiated: false
                  _meta:
                    _credits:
                      used: 1
                      balance: 999999841
                      note: Always
                    _cache:
                      is_cached: false
                      note: 'Cache disabled for this endpoint'
                    _rate_limits:
                      limit_minute: 10000000
                      limit_day: 50000
                      remaining_minute: 9999999
                      remaining_day: 49999
                properties:
                  data:
                    type: object
                    properties:
                      view:
                        type: string
                        example: f
                      isAuth:
                        type: boolean
                        example: true
                      ip:
                        type: string
                        example: 127.0.0.1
                      csrf:
                        type: string
                        example: csrf_token
                      upload:
                        type: object
                        properties:
                          geoUploadArgs:
                            type: object
                            properties:
                              preset:
                                type: string
                                example: of_beta
                              protected_preset:
                                type: string
                                example: of_drm
                              preset_png:
                                type: string
                                example: of_png
                              isDelay:
                                type: boolean
                                example: true
                              needThumbs:
                                type: boolean
                                example: true
                              additional:
                                type: object
                                properties:
                                  user:
                                    type: string
                                    example: '123'
                      avatar:
                        type: string
                        example: 'https://public.onlyfans.com/files/w/w6/w6g/.../123/avatar.jpg'
                      avatarThumbs:
                        type: object
                        properties:
                          c50:
                            type: string
                            example: 'https://thumbs.onlyfans.com/public/files/thumbs/c50/w/w6/w6g/.../123/avatar.jpg'
                          c144:
                            type: string
                            example: 'https://thumbs.onlyfans.com/public/files/thumbs/c144/w/w6/w6g/.../123/avatar.jpg'
                      header:
                        type: string
                        example: 'https://public.onlyfans.com/files/k/kk/kk6/.../123/header_image.jpg'
                      headerSize:
                        type: object
                        properties:
                          width:
                            type: integer
                            example: 760
                          height:
                            type: integer
                            example: 570
                      headerThumbs:
                        type: object
                        properties:
                          w480:
                            type: string
                            example: 'https://thumbs.onlyfans.com/public/files/thumbs/w480/k/kk/kk6/.../123/header_image.jpg'
                          w760:
                            type: string
                            example: 'https://thumbs.onlyfans.com/public/files/thumbs/w760/k/kk/kk6/.../123/header_image.jpg'
                      id:
                        type: integer
                        example: 123
                      name:
                        type: string
                        example: name
                      username:
                        type: string
                        example: username
                      canLookStory:
                        type: boolean
                        example: true
                      canCommentStory:
                        type: boolean
                        example: true
                      hasNotViewedStory:
                        type: boolean
                        example: false
                      isVerified:
                        type: boolean
                        example: true
                      canPayInternal:
                        type: boolean
                        example: true
                      hasScheduledStream:
                        type: boolean
                        example: false
                      hasStream:
                        type: boolean
                        example: false
                      hasStories:
                        type: boolean
                        example: false
                      tipsEnabled:
                        type: boolean
                        example: true
                      tipsTextEnabled:
                        type: boolean
                        example: true
                      tipsMin:
                        type: integer
                        example: 5
                      tipsMinInternal:
                        type: integer
                        example: 1
                      tipsMax:
                        type: integer
                        example: 200
                      canEarn:
                        type: boolean
                        example: true
                      canAddSubscriber:
                        type: boolean
                        example: false
                      subscribePrice:
                        type: integer
                        example: 0
                      hasStripe:
                        type: boolean
                        example: false
                      isStripeExist:
                        type: boolean
                        example: false
                      subscriptionBundles:
                        type: array
                        example: []
                      canSendChatToAll:
                        type: boolean
                        example: true
                      creditsMin:
                        type: integer
                        example: 10
                      creditsMax:
                        type: integer
                        example: 200
                      isPaywallPassed:
                        type: boolean
                        example: true
                      canCreateLists:
                        type: boolean
                        example: true
                      joinDate:
                        type: string
                        example: '2025-01-01T00:00:00+00:00'
                      isReferrerAllowed:
                        type: boolean
                        example: true
                      about:
                        type: string
                        example: ''
                      isMarkdownDisabledForAbout:
                        type: boolean
                        example: true
                      website:
                        type: string
                        example: 'https://onlyfans.com'
                      wishlist:
                        type: string
                        example: null
                        nullable: true
                      location:
                        type: string
                        example: null
                        nullable: true
                      postsCount:
                        type: integer
                        example: 2
                      archivedPostsCount:
                        type: integer
                        example: 0
                      privateArchivedPostsCount:
                        type: integer
                        example: 0
                      photosCount:
                        type: integer
                        example: 0
                      videosCount:
                        type: integer
                        example: 0
                      audiosCount:
                        type: integer
                        example: 0
                      mediasCount:
                        type: integer
                        example: 0
                      lastSeen:
                        type: string
                        example: '2025-01-01T00:00:00+00:00'
                      favoritesCount:
                        type: integer
                        example: 0
                      favoritedCount:
                        type: integer
                        example: 0
                      showPostsInFeed:
                        type: boolean
                        example: true
                      canReceiveChatMessage:
                        type: boolean
                        example: false
                      isPerformer:
                        type: boolean
                        example: true
                      isRealPerformer:
                        type: boolean
                        example: false
                      isSpotifyConnected:
                        type: boolean
                        example: false
                      subscribersCount:
                        type: integer
                        example: 2
                      hasPinnedPosts:
                        type: boolean
                        example: true
                      hasLabels:
                        type: boolean
                        example: true
                      canChat:
                        type: boolean
                        example: true
                      avatarHeaderConverterUpload:
                        type: boolean
                        example: true
                      newTagsCount:
                        type: integer
                        example: 0
                      hasTags:
                        type: boolean
                        example: false
                      isPrivateRestriction:
                        type: boolean
                        example: false
                      showSubscribersCount:
                        type: boolean
                        example: false
                      showMediaCount:
                        type: boolean
                        example: true
                      subscribedByData:
                        type: string
                        example: null
                        nullable: true
                      subscribedOnData:
                        type: string
                        example: null
                        nullable: true
                      canCreatePromotion:
                        type: boolean
                        example: false
                      canCreateTrial:
                        type: boolean
                        example: false
                      isAdultContent:
                        type: boolean
                        example: false
                      canTrialSend:
                        type: boolean
                        example: false
                      hasLinks:
                        type: boolean
                        example: false
                      hasFriends:
                        type: boolean
                        example: false
                      firstPublishedPostDate:
                        type: string
                        example: '2025-01-01T00:00:00+00:00'
                      isSpringConnected:
                        type: boolean
                        example: false
                      hasNewTicketReplies:
                        type: object
                        properties:
                          open:
                            type: boolean
                            example: false
                          solved:
                            type: boolean
                            example: false
                          closed:
                            type: boolean
                            example: false
                          appeal_form:
                            type: boolean
                            example: false
                      hasInternalPayments:
                        type: boolean
                        example: false
                      isCreditsEnabled:
                        type: boolean
                        example: true
                      creditBalance:
                        type: integer
                        example: 0
                      isMakePayment:
                        type: boolean
                        example: false
                      isAgeVerified:
                        type: boolean
                        example: false
                      ageVerificationRequired:
                        type: boolean
                        example: false
                      isOtpEnabled:
                        type: boolean
                        example: true
                      email:
                        type: string
                        example: user@example.com
                      isEmailChecked:
                        type: boolean
                        example: true
                      isLegalApprovedAllowed:
                        type: boolean
                        example: true
                      isTwitterConnected:
                        type: boolean
                        example: false
                      twitterUsername:
                        type: string
                        example: TwitterUsername
                      isAllowTweets:
                        type: boolean
                        example: false
                      isPaymentCardConnected:
                        type: boolean
                        example: true
                      isVisibleOnline:
                        type: boolean
                        example: true
                      subscribesCount:
                        type: integer
                        example: 61
                      canPinPost:
                        type: boolean
                        example: true
                      hasNewAlerts:
                        type: boolean
                        example: false
                      hasNewHints:
                        type: boolean
                        example: true
                      hasNewChangedPriceSubscriptions:
                        type: boolean
                        example: true
                      notificationsCount:
                        type: integer
                        example: 4
                      hasSystemNotifications:
                        type: boolean
                        example: false
                      chatMessagesCount:
                        type: integer
                        example: 57
                      countPinnedChat:
                        type: integer
                        example: 0
                      isWantComments:
                        type: boolean
                        example: true
                      watermarkText:
                        type: string
                        example: OnlyFans.com/username
                      hasWatermarkPhoto:
                        type: boolean
                        example: true
                      hasWatermarkVideo:
                        type: boolean
                        example: true
                      watermarkPosition:
                        type: string
                        example: bottom_right
                      advBlock:
                        type: array
                        example:
                          - banners
                        items:
                          type: string
                      hasPurchasedPosts:
                        type: boolean
                        example: false
                      isEmailRequired:
                        type: boolean
                        example: false
                      payoutLegalApproveState:
                        type: string
                        example: approved
                      enabledImageEditorForChat:
                        type: boolean
                        example: true
                      paidFeed:
                        type: boolean
                        example: false
                      isRealCardConnected:
                        type: boolean
                        example: true
                      countPriorityChat:
                        type: integer
                        example: 35
                      hasScenario:
                        type: boolean
                        example: false
                      wsUrl:
                        type: string
                        example: 'wss://ws2.onlyfans.com/ws3/03'
                      wsAuthToken:
                        type: string
                        example: ws_auth_token
                      canAddCard:
                        type: boolean
                        example: true
                      unreadTips:
                        type: integer
                        example: 0
                      isWalletAutorecharge:
                        type: boolean
                        example: false
                      walletAutorechargeAmount:
                        type: integer
                        example: 0
                      walletAutorechargeMin:
                        type: integer
                        example: 0
                      walletFirstRebills:
                        type: boolean
                        example: false
                      canAlternativeWalletTopUp:
                        type: boolean
                        example: false
                      needIVApprove:
                        type: boolean
                        example: false
                      ivStatus:
                        type: string
                        example: approved
                      ivFailReason:
                        type: string
                        example: null
                        nullable: true
                      ivCountry:
                        type: string
                        example: US
                      ivFlow:
                        type: string
                        example: default
                      faceIdRegular:
                        type: array
                        example: []
                      isVerifiedReason:
                        type: boolean
                        example: false
                      canReceiveManualPayout:
                        type: boolean
                        example: true
                      canReceiveStripePayout:
                        type: boolean
                        example: false
                      isNeedConfirmPayout:
                        type: boolean
                        example: false
                      canStreaming:
                        type: boolean
                        example: false
                      isScheduledStreamsAllowed:
                        type: boolean
                        example: false
                      canMakeExpirePosts:
                        type: boolean
                        example: true
                      trialMaxDays:
                        type: integer
                        example: 7
                      trialMaxExpiresDays:
                        type: integer
                        example: 30
                      messageMinPrice:
                        type: integer
                        example: 3
                      messageMaxPrice:
                        type: integer
                        example: 100
                      postMinPrice:
                        type: integer
                        example: 3
                      postMaxPrice:
                        type: integer
                        example: 100
                      subscribeMinPrice:
                        type: number
                        example: 4.99
                      subscribeMaxPrice:
                        type: integer
                        example: 50
                      canAddStory:
                        type: boolean
                        example: true
                      canCreateFundRaising:
                        type: boolean
                        example: true
                      minFundRaisingTarget:
                        type: integer
                        example: 10
                      maxFundRaisingTarget:
                        type: integer
                        example: 10000
                      ivHideForPerformers:
                        type: boolean
                        example: false
                      canChangeContentPrice:
                        type: boolean
                        example: true
                      payoutType:
                        type: string
                        example: bank_ebics_sepa
                      isVatRequired:
                        type: boolean
                        example: false
                      isCountryVatRefundable:
                        type: boolean
                        example: false
                      isCountryVatNumberCollect:
                        type: boolean
                        example: false
                      vatNumberName:
                        type: string
                        example: VAT
                      isCountryWithVat:
                        type: boolean
                        example: false
                      connectedOfAccounts:
                        type: array
                        example: []
                      canConnectOfAccount:
                        type: boolean
                        example: true
                      pinnedPostsCount:
                        type: integer
                        example: 1
                      maxPinnedPostsCount:
                        type: integer
                        example: 5
                      isDeleteInitiated:
                        type: boolean
                        example: false
                  _meta:
                    type: object
                    properties:
                      _credits:
                        type: object
                        properties:
                          used:
                            type: integer
                            example: 1
                          balance:
                            type: integer
                            example: 999999841
                          note:
                            type: string
                            example: Always
                      _cache:
                        type: object
                        properties:
                          is_cached:
                            type: boolean
                            example: false
                          note:
                            type: string
                            example: 'Cache disabled for this endpoint'
                      _rate_limits:
                        type: object
                        properties:
                          limit_minute:
                            type: integer
                            example: 10000000
                          limit_day:
                            type: integer
                            example: 50000
                          remaining_minute:
                            type: integer
                            example: 9999999
                          remaining_day:
                            type: integer
                            example: 49999
      tags:
        - Account
    parameters:
      -
        in: path
        name: account
        description: 'The Account ID'
        example: acct_XXXXXXXXXXXXXXX
        required: true
        schema:
          type: string
  '/api/{account}/me/model-start-date':
    get:
      summary: 'Get Model Start Date'
      operationId: getModelStartDate
      description: 'Get the start date of the model (the date+time monetization was enabled)'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    startDate: '2025-01-01 01:01:01'
                  _meta:
                    _credits:
                      used: 1
                      balance: 999999841
                      note: Always
                    _cache:
                      is_cached: false
                      note: 'Cache disabled for this endpoint'
                    _rate_limits:
                      limit_minute: 10000000
                      limit_day: 50000
                      remaining_minute: 9999998
                      remaining_day: 49998
                properties:
                  data:
                    type: object
                    properties:
                      startDate:
                        type: string
                        example: '2025-01-01 01:01:01'
                  _meta:
                    type: object
                    properties:
                      _credits:
                        type: object
                        properties:
                          used:
                            type: integer
                            example: 1
                          balance:
                            type: integer
                            example: 999999841
                          note:
                            type: string
                            example: Always
                      _cache:
                        type: object
                        properties:
                          is_cached:
                            type: boolean
                            example: false
                          note:
                            type: string
                            example: 'Cache disabled for this endpoint'
                      _rate_limits:
                        type: object
                        properties:
                          limit_minute:
                            type: integer
                            example: 10000000
                          limit_day:
                            type: integer
                            example: 50000
                          remaining_minute:
                            type: integer
                            example: 9999998
                          remaining_day:
                            type: integer
                            example: 49998
      tags:
        - Account
    parameters:
      -
        in: path
        name: account
        description: 'The Account ID'
        example: acct_XXXXXXXXXXXXXXX
        required: true
        schema:
          type: string
  '/api/{account}/me/top-percentage':
    get:
      summary: 'Get Top Percentage'
      operationId: getTopPercentage
      description: 'Get the top percentage of the model (e.g., top 0.02% of all creators)'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    top_percentage: 0.02
                    message: null
                  _meta:
                    _credits:
                      used: 1
                      balance: 999999911
                      note: Always
                    _cache:
                      is_cached: false
                      note: 'Cache disabled for this endpoint'
                    _rate_limits:
                      limit_minute: 1000
                      limit_day: 50000
                      remaining_minute: 997
                      remaining_day: 49912
                properties:
                  data:
                    type: object
                    properties:
                      top_percentage:
                        type: number
                        example: 0.02
                      message:
                        type: string
                        example: null
                        nullable: true
                  _meta:
                    type: object
                    properties:
                      _credits:
                        type: object
                        properties:
                          used:
                            type: integer
                            example: 1
                          balance:
                            type: integer
                            example: 999999911
                          note:
                            type: string
                            example: Always
                      _cache:
                        type: object
                        properties:
                          is_cached:
                            type: boolean
                            example: false
                          note:
                            type: string
                            example: 'Cache disabled for this endpoint'
                      _rate_limits:
                        type: object
                        properties:
                          limit_minute:
                            type: integer
                            example: 1000
                          limit_day:
                            type: integer
                            example: 50000
                          remaining_minute:
                            type: integer
                            example: 997
                          remaining_day:
                            type: integer
                            example: 49912
      tags:
        - Account
    parameters:
      -
        in: path
        name: account
        description: 'The Account ID'
        example: acct_XXXXXXXXXXXXXXX
        required: true
        schema:
          type: string
  /api/analytics/financial/transactions/summary:
    post:
      summary: 'Get Transaction Summary'
      operationId: getTransactionSummary
      description: 'Get transaction summary including counts for succeeded, refunded, and disputed transactions, plus gross, net, and fee totals.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  succeeded_count: 150
                  refunded_count: 5
                  disputed_count: 2
                  total_gross: 20000.0
                  total_net: 16000.0
                  total_fees: 4000.0
                properties:
                  succeeded_count:
                    type: integer
                    example: 150
                  refunded_count:
                    type: integer
                    example: 5
                  disputed_count:
                    type: integer
                    example: 2
                  total_gross:
                    type: number
                    example: 20000.0
                  total_net:
                    type: number
                    example: 16000.0
                  total_fees:
                    type: number
                    example: 4000.0
      tags:
        - 'Analytics - Financial'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                start_date:
                  type: string
                  description: 'The start date (ISO 8601 format)'
                  example: '2024-01-01'
                end_date:
                  type: string
                  description: 'The end date (ISO 8601 format)'
                  example: '2024-12-31'
              required:
                - account_ids
                - start_date
                - end_date
  /api/analytics/financial/transactions/by-type:
    post:
      summary: 'Get Transactions By Type'
      operationId: getTransactionsByType
      description: 'Get transaction totals grouped by transaction type (subscriptions, tips, messages, etc.).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: subscription
                    count:
                      type: integer
                      example: 100
                    total:
                      type: number
                      example: 5000.0
                example:
                  -
                    type: subscription
                    count: 100
                    total: 5000.0
                  -
                    type: tip
                    count: 50
                    total: 2500.0
      tags:
        - 'Analytics - Financial'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                start_date:
                  type: string
                  description: 'The start date (ISO 8601 format)'
                  example: '2024-01-01'
                end_date:
                  type: string
                  description: 'The end date (ISO 8601 format)'
                  example: '2024-12-31'
              required:
                - account_ids
                - start_date
                - end_date
  /api/analytics/financial/forecast:
    post:
      summary: 'Get Revenue Forecast'
      operationId: getRevenueForecast
      description: 'Generate revenue or churn forecasts using statistical models (Moving Average, Linear Regression, ARIMA, SARIMA).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  metric: revenue
                  model: linear_regression
                  historical:
                    -
                      date: '2024-01-01'
                      value: 500.0
                  forecast:
                    -
                      date: '2024-02-01'
                      value: 550.0
                properties:
                  metric:
                    type: string
                    example: revenue
                  model:
                    type: string
                    example: linear_regression
                  historical:
                    type: array
                    example:
                      - date: '2024-01-01'
                        value: 500
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: '2024-01-01'
                        value:
                          type: number
                          example: 500.0
                  forecast:
                    type: array
                    example:
                      - date: '2024-02-01'
                        value: 550
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: '2024-02-01'
                        value:
                          type: number
                          example: 550.0
      tags:
        - 'Analytics - Financial'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                metric:
                  type: string
                  description: 'The metric to forecast'
                  example: revenue
                  enum:
                    - revenue
                    - churn_percentage
                model:
                  type: string
                  description: 'The forecasting model to use'
                  example: linear_regression
                  enum:
                    - moving_average
                    - linear_regression
                    - arima
                    - sarima
                historical_days:
                  type: integer
                  description: 'Number of historical days to analyze (30-730)'
                  example: 90
                forecast_days:
                  type: integer
                  description: 'Number of days to forecast (7-365)'
                  example: 30
              required:
                - account_ids
                - metric
                - model
                - historical_days
                - forecast_days
  /api/analytics/financial/profitability:
    post:
      summary: 'Get Profitability'
      operationId: getProfitability
      description: 'Calculate profitability for creators including revenue, costs, commissions, and margins for a specific month.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      onlyFansUserId: 12345
                      creatorName: 'Creator Name'
                      year: 2024
                      month: 6
                      projectedNet: '10000.00'
                      commissionRate: '20.00'
                      commissionAmount: '2000.00'
                      costs: []
                      totalCosts: '500.00'
                      agencyEarnings: '2000.00'
                      profit: '1500.00'
                      marginPercentage: '75.00'
                      hasCommissionForPeriod: true
                      hasCostsForPeriod: true
                      activeMilestones: null
                      referralNote: null
                      ratePeriods: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        onlyFansUserId: 12345
                        creatorName: 'Creator Name'
                        year: 2024
                        month: 6
                        projectedNet: '10000.00'
                        commissionRate: '20.00'
                        commissionAmount: '2000.00'
                        costs: []
                        totalCosts: '500.00'
                        agencyEarnings: '2000.00'
                        profit: '1500.00'
                        marginPercentage: '75.00'
                        hasCommissionForPeriod: true
                        hasCostsForPeriod: true
                        activeMilestones: null
                        referralNote: null
                        ratePeriods: []
                    items:
                      type: object
                      properties:
                        onlyFansUserId:
                          type: integer
                          example: 12345
                        creatorName:
                          type: string
                          example: 'Creator Name'
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 6
                        projectedNet:
                          type: string
                          example: '10000.00'
                        commissionRate:
                          type: string
                          example: '20.00'
                        commissionAmount:
                          type: string
                          example: '2000.00'
                        costs:
                          type: array
                          example: []
                        totalCosts:
                          type: string
                          example: '500.00'
                        agencyEarnings:
                          type: string
                          example: '2000.00'
                        profit:
                          type: string
                          example: '1500.00'
                        marginPercentage:
                          type: string
                          example: '75.00'
                        hasCommissionForPeriod:
                          type: boolean
                          example: true
                        hasCostsForPeriod:
                          type: boolean
                          example: true
                        activeMilestones:
                          type: string
                          example: null
                          nullable: true
                        referralNote:
                          type: string
                          example: null
                          nullable: true
                        ratePeriods:
                          type: array
                          example: []
      tags:
        - 'Analytics - Financial'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                year:
                  type: integer
                  description: 'The year to calculate profitability for'
                  example: 2024
                month:
                  type: integer
                  description: 'The month to calculate profitability for (1-12)'
                  example: 6
              required:
                - account_ids
                - year
                - month
  '/api/analytics/financial/profitability/{account}/history':
    get:
      summary: 'Get Profitability History'
      operationId: getProfitabilityHistory
      description: 'Get historical profitability data for a specific account over multiple months.'
      parameters:
        -
          in: query
          name: account_prefixed_id
          description: 'The account prefixed ID.'
          example: acct_abc123
          required: true
          schema:
            type: string
            description: 'The account prefixed ID.'
            example: acct_abc123
        -
          in: query
          name: months
          description: 'Number of months of history to retrieve (1-60, default 12). Must be at least 1. Must not be greater than 60.'
          example: 12
          required: false
          schema:
            type: integer
            description: 'Number of months of history to retrieve (1-60, default 12). Must be at least 1. Must not be greater than 60.'
            example: 12
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      onlyFansUserId: 12345
                      creatorName: 'Creator Name'
                      year: 2024
                      month: 1
                      projectedNet: '10000.00'
                      commissionRate: '20.00'
                      commissionAmount: '2000.00'
                      costs: []
                      totalCosts: '500.00'
                      agencyEarnings: '2000.00'
                      profit: '1500.00'
                      marginPercentage: '75.00'
                      hasCommissionForPeriod: true
                      hasCostsForPeriod: true
                      activeMilestones: null
                      referralNote: null
                      ratePeriods: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        onlyFansUserId: 12345
                        creatorName: 'Creator Name'
                        year: 2024
                        month: 1
                        projectedNet: '10000.00'
                        commissionRate: '20.00'
                        commissionAmount: '2000.00'
                        costs: []
                        totalCosts: '500.00'
                        agencyEarnings: '2000.00'
                        profit: '1500.00'
                        marginPercentage: '75.00'
                        hasCommissionForPeriod: true
                        hasCostsForPeriod: true
                        activeMilestones: null
                        referralNote: null
                        ratePeriods: []
                    items:
                      type: object
                      properties:
                        onlyFansUserId:
                          type: integer
                          example: 12345
                        creatorName:
                          type: string
                          example: 'Creator Name'
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 1
                        projectedNet:
                          type: string
                          example: '10000.00'
                        commissionRate:
                          type: string
                          example: '20.00'
                        commissionAmount:
                          type: string
                          example: '2000.00'
                        costs:
                          type: array
                          example: []
                        totalCosts:
                          type: string
                          example: '500.00'
                        agencyEarnings:
                          type: string
                          example: '2000.00'
                        profit:
                          type: string
                          example: '1500.00'
                        marginPercentage:
                          type: string
                          example: '75.00'
                        hasCommissionForPeriod:
                          type: boolean
                          example: true
                        hasCostsForPeriod:
                          type: boolean
                          example: true
                        activeMilestones:
                          type: string
                          example: null
                          nullable: true
                        referralNote:
                          type: string
                          example: null
                          nullable: true
                        ratePeriods:
                          type: array
                          example: []
      tags:
        - 'Analytics - Financial'
    parameters:
      -
        in: path
        name: account
        description: 'The Account ID'
        example: acct_XXXXXXXXXXXXXXX
        required: true
        schema:
          type: string
  /api/analytics/summary/earnings:
    post:
      summary: 'Get Earnings Overview'
      operationId: getEarningsOverview
      description: 'Get earnings overview by category for selected accounts within a date range. Returns total earnings, subscriptions, posts, messages, tips, streams, and content stats.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total_earnings: 15000.5
                  subscriptions: 8000.0
                  posts: 2500.0
                  messages: 3000.0
                  tips: 1300.0
                  streams: 200.5
                  total_accounts: 5
                  total_messages: 1250
                  total_images: 450
                  total_videos: 120
                properties:
                  total_earnings:
                    type: number
                    example: 15000.5
                  subscriptions:
                    type: number
                    example: 8000.0
                  posts:
                    type: number
                    example: 2500.0
                  messages:
                    type: number
                    example: 3000.0
                  tips:
                    type: number
                    example: 1300.0
                  streams:
                    type: number
                    example: 200.5
                  total_accounts:
                    type: integer
                    example: 5
                  total_messages:
                    type: integer
                    example: 1250
                  total_images:
                    type: integer
                    example: 450
                  total_videos:
                    type: integer
                    example: 120
      tags:
        - 'Analytics - Summary'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs to get earnings for'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                start_date:
                  type: string
                  description: 'The start date (ISO 8601 format)'
                  example: '2024-01-01'
                end_date:
                  type: string
                  description: 'The end date (ISO 8601 format)'
                  example: '2024-12-31'
              required:
                - account_ids
                - start_date
                - end_date
  /api/analytics/summary/historical:
    post:
      summary: 'Get Historical Performance'
      operationId: getHistoricalPerformance
      description: 'Get historical earnings chart data for the team. Returns monthly aggregated revenue data for the specified time range.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    period:
                      type: string
                      example: 2024-01
                    value:
                      type: number
                      example: 5000.0
                example:
                  -
                    period: 2024-01
                    value: 5000.0
                  -
                    period: 2024-02
                    value: 5500.0
      tags:
        - 'Analytics - Summary'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                time_range:
                  type: string
                  description: 'The time range for historical data'
                  example: 12m
                  enum:
                    - 3m
                    - 6m
                    - 12m
                    - ytd
                    - last-year
  /api/analytics/summary/comparison:
    post:
      summary: 'Get Period Comparison'
      operationId: getPeriodComparison
      description: 'Compare two time periods to analyze performance changes. Returns summary, breakdown, and chart data for the comparison.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  summary:
                    period_a_total: 15000.0
                    period_b_total: 18000.0
                    change: 3000.0
                    change_percentage: 20.0
                  breakdown: []
                  chart_data: []
                  period_a_label: 'Q1 2024'
                  period_b_label: 'Q2 2024'
                properties:
                  summary:
                    type: object
                    properties:
                      period_a_total:
                        type: number
                        example: 15000.0
                      period_b_total:
                        type: number
                        example: 18000.0
                      change:
                        type: number
                        example: 3000.0
                      change_percentage:
                        type: number
                        example: 20.0
                  breakdown:
                    type: array
                    example: []
                  chart_data:
                    type: array
                    example: []
                  period_a_label:
                    type: string
                    example: 'Q1 2024'
                  period_b_label:
                    type: string
                    example: 'Q2 2024'
      tags:
        - 'Analytics - Summary'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: 'Array of account prefixed IDs to compare'
                  example:
                    - acc_abc123
                    - acc_def456
                  items:
                    type: string
                period_a:
                  type: object
                  description: 'First period to compare'
                  example:
                    start: '2024-01-01'
                    end: '2024-03-31'
                  properties:
                    start:
                      type: string
                      description: 'Must be a valid date.'
                      example: '2026-09-05T07:01:48'
                    end:
                      type: string
                      description: 'Must be a valid date. Must be a date after or equal to <code>period_a.start</code>.'
                      example: '2058-03-26'
                  required:
                    - start
                    - end
                period_b:
                  type: object
                  description: 'Second period to compare'
                  example:
                    start: '2024-04-01'
                    end: '2024-06-30'
                  properties:
                    start:
                      type: string
                      description: 'Must be a valid date.'
                      example: '2026-09-05T07:01:48'
                    end:
                      type: string
                      description: 'Must be a valid date. Must be a date after or equal to <code>period_b.start</code>.'
                      example: '2100-12-16'
                  required:
                    - start
                    - end
                granularity:
                  type: string
                  description: 'Comparison granularity'
                  example: months
                  enum:
                    - months
                    - quarters
                    - half_years
                    - years
                stat_type:
                  type: string
                  description: 'The statistic type to compare'
                  example: totalEarnings
                  enum:
                    - totalEarnings
                    - subscriptions
                    - posts
                    - messages
                    - tips
                    - streams
              required:
                - account_ids
                - period_a
                - period_b
  '/api/{account}/banking/details/bank':
    get:
      summary: 'Get Bank Payout Details'
      operationId: getBankPayoutDetails
      description: "Returns the account owner's bank payout details, including whether payout data is filled, available payout methods with their descriptions, and required bank fields."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    isPayoutDataFilled: true
                    payouts:
                      -
                        code: bank_ebics_sepa
                        title: 'International Transfer (SEPA)'
                        subtitle: 'Receive payouts directly to your bank account via SEPA payments'
                        minPayoutSumm: 20
                        payoutTime: '1-3 business days'
                        description: "No limits on number of daily withdrawals (No maximum)\nPayouts are paid directly into your bank account via the SEPA banking system\nAny SEPA bank account"
                        fields:
                          first_name:
                            readonly: true
                            value: '********'
                            label:
                              key: bank_recipient_name_title
                            maxlength: 255
                            oninput:
                              replace:
                                pattern: '[^ a-zA-Z0-9_-]'
                                flag: g
                          last_name:
                            readonly: true
                            value: '********'
                            label:
                              key: bank_recipient_last_name_title
                            maxlength: 255
                            oninput:
                              replace:
                                pattern: '[^ a-zA-Z0-9_-]'
                                flag: g
                          iban:
                            required: true
                            label:
                              key: bank_iban_title
                            regex:
                              pattern: '^[A-Za-z0-9]{1,34}$'
                              flag: g
                            value: '********1234'
                          bic:
                            required: true
                            label:
                              key: bank_bic_swift_title
                            maxlength: 70
                            value: '********'
                          bank_name:
                            required: true
[...]
